@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

/* to import google font style */

.content {
    width: 960px;
    margin: 20px auto;
}

.main {
    float: left;
    width: 650px;
    margin-top: 80px;
}

#progressbar {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.active {
    color: darkorange;
    margin-left: 400px;
}

fieldset {
    /*display:none;*/
    width: 350px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 85px;
    border-radius: 5px;
    box-shadow: 3px 3px 25px 1px gray;
}

#first {
    display: block;
    width: 350px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    margin-left: 275px;
    box-shadow: 3px 3px 25px 1px gray;
}

input[type=text],
input[type=password],
input[type=email],
select {
    width: 100%;
    margin: 10px 0;
    height: 40px;
    padding: 5px;
    border: 3px solid darkorange(236, 176, 220);
    border-radius: 4px;
}

textarea {
    width: 100%;
    margin: 10px 0;
    height: 70px;
    padding: 5px;
    border: 3px solid darkorange(236, 176, 220);
    border-radius: 4px;
}

input[type=submit],
input[type=button] {
    width: 120px;
    margin: 15px 25px;
    padding: 5px;
    height: 40px;
    background-color: darkorange;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Droid Serif', serif;
}

form.regform {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,
p {
    text-align: center;
    font-family: 'Droid Serif', serif;
}

li {
    margin-right: 52px;
    display: inline;
    color: #c1c5cc;
    font-family: 'Droid Serif', serif;
}

.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
    color: darkorange !important;
}

.asteriskField {
    color: red;
}
body{
     background-image: url("paper.gif");
     background-color: #cccccc;
     
}


