/*To Do-change the height of the sections. Get the images to fit within the sections using rows and columns. 
Leave area for Map, and descript on pet. Add css styling based on Barbs desciption. Make navbar transparent. 
Make sure to add smooth scrolling to the project. Think about adding a page header instead of a Jumbotron.*/

#wrapper {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
}

body {
    width: auto;
    margin: auto;
    background-color: orangered!important;
    
}



div.carousel-caption > p,
 {
    color: white;
    text-align: center;
}


h3 {
    color: darkorange;
    text-align:center;
    font-size: 26px;

}
h4 {
    color: darkorange;
    text-align:center;
    font-size: 20px
}
.carousel-inner {
    width:100%;
    height:100%;
}

.panel-body>p {
    color: black;
}

div#myNavbar.collapse.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
    height: 60px;
    border-bottom: 0px;
    /*transition: background-color .5s ease 0s;*/
    /*color: white;*/
}


/* Glyphicons */

.section1.section2.section3 {
    background-image: url()
}

article {
    float: right;
}


/*CSS for handling how the sections scroll. Change the numbers after speaking to team*/

#section1 {
    padding-top: 0px;
    height: 500px;
    color: #fff;
    background-color: orangered;
}

#section2 {
    padding-top: 0px;
    height: 500px;
    color: #fff;
    background-color: orangered;
}

#section3 {
    padding-top: 0px;
    height: 500px;
    color: #fff;
    background-color: orangered;
}

#section4 {
    padding-top: 0px;
    height: 800px;
    color: #fff;
    background-color: orangered;
}


/*First three sections with image and paragraphy*/
div.col-sm-6 {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}



/*look into this as it may be impacting the background images in the application*/

/*body {
    position: relative;
}*/

.donate-amount-container,
.card-details-container,
.personal-details-container,
.donate-container {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: 18px;
    background-color: white;

}

#donatebtn {
    padding-right: 40px;
}

h1 {
    color: black !important;
}

p {
    text-align: left;
    color: black;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    /*padding-left: 10Spx;*/
}

h5 {
    text-align: center;
    color: white;
    font-size: 16px;
}
/*this is what was causing the buttons to blow up the page in the panels*/

/*a {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}*/


.page-head {
    background-image: url("/images/carousel/puppy2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Buttons in the panel*/

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  
}

/*Properties were being overridden in CSS and Bootstrap, so I had to use !important*/

.btn:focus,.btn:active {
   outline: none !important;
}

div.panel-body a {

    text-decoration: none;
    
}

footer{
    text-align: center;
    color: white;
}