<html>

<head>
    <title>Signup Form</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/signup.css" />
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="content" <!-- multistep form -->
        <div class="main">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Create Account</li>
                <li>Profile Details</li>
            </ul>

            <!-- fieldsets -->
            <div class="account">
                <fieldset id="first">
                    <h2 class="title">Create your account</h2>
                     <!-- show any messages that come back with authentication -->
                          <!--<% if (message.length > 0) { %>
                         <div class="alert alert-danger"><%= message %></div>
                          <% } %>-->
                    <p class="subtitle">Step 1</p>
                    <input type="email" class="text_field" id="email" name="email" placeholder="Email" required/><br/>
                    <input type="password" class="text_field" id="pass" name="pass" placeholder="Password" required/><br/>
                    <input type="password" class="text_field" id="cpass" name="cpass" placeholder="Confirm Password" required/><br/>
                    <label>Role</label><br/>
                    <input name="admin" id="rad1" type="radio" value="Rescue" />Rescue Group<br/>
                    <input name="user" id="rad2" type="radio" value="Volunteer" />Volunteer Transport<br/>
                    <!--	<input type="button" name="next" class="next_btn" value="Next" />-->
                </fieldset>
            </div>

            <div class="showRescue">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Signup Your Organization</h3>
                    </div>
                    <div class="panel-body text-center">
                        <!--
                            note the bootstrap-iso stylesheet above
                            from https://formden.com/form-builder/
                            -->
                        <div class="bootstrap-iso">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <form id="adminForm" method="post" action="/admin/signup">
                                            <input type="hidden" id="alat" name="alat"/>
                                            <input type="hidden" id="alng" name="alng"/>
                                            <div class="form-group ">
                                                <input type="hidden" id="haemail" name="haemail"/>
                                                <input type="hidden" id="hapass" name="hapass"/>
                                                <label class="control-label requiredField" for="adminName">
                                                    Name
                                                    <span class="asteriskField">
                                                        *
                                                    </span>
                                                </label>
                                                <input class="form-control" id="adminName" name="adminName" placeholder="Bob Smith" type="text" required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label requiredField" for="orgName">
                                                    Organization Name
                                                    <span class="asteriskField">
                                                        *
                                                    </span>
                                                </label>
                                                <input class="form-control" id="orgName" name="orgName" placeholder="Your Organization's Name'" type="text" required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label requiredField" for="astreetAddr">
                                                    Street Address
                                                    <span class="asteriskField">
                                                        *
                                                    </span>
                                                </label>
                                                <input class="form-control" id="astreetAddr" name="astreetAddr" placeholder="111 Main St, SS, 12345" type="text" required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label " for="aphone">
                                                    Phone Number
                                                    <span class="asteriskField">
                                                        *
                                                    </span>
                                                </label>
                                                <input class="form-control" id="aphone" name="aphone" placeholder="5551234567" type="text" required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label requiredField" for="npID">
                                                Non Profit ID (501c3)
                                                <span class="asteriskField">
                                                    *
                                                </span>
                                                </label>
                                                <input class="form-control" id="npID" name="npID" placeholder="341142324" type="text" required/>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <button class="btn btn-primary " name="admin-btn" type="submit" <a href="signin.html">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="showVolunteer">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Volunteer to Transport</h3>
                    </div>
                    <div class="panel-body text-center">
                        <!--
                        note the bootstrap-iso stylesheet above
                        from https://formden.com/form-builder/
                        -->
                        <div class="bootstrap-iso">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <form  id="volunteerForm" method="post" action="/user/signup">
                                            <div class="form-group ">
                                                <input type="hidden" id="huemail" name="huemail" />
                                                <input type="hidden" id="hupass" name="hupass" />
                                                <input type="hidden" id="vlat" name="vlat" />
                                                <input type="hidden" id="vlng" name="vlng" />
                                                <label class="control-label requiredField" for="userName">
                                                Name
                                                <span class="asteriskField">
                                                    *
                                                </span>
                                                </label>
                                                <input class="form-control" id="userName" name="userName" placeholder="Bob Smith" type="text" required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label requiredField" for="vstreetAddr">
                                                    Street Address
                                                    <span class="asteriskField">
                                                        *
                                                    </span>
                                                </label>
                                                <input class="form-control" id="vstreetAddr" name="vstreetAddr" placeholder="111 Main St, SS, 12345" type="text" required/>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label " for="vphone">
                                                    Phone Number
                                                    <span class="asteriskField">
                                                        *
                                                    </span>
                                                </label>
                                                <input class="form-control" id="vphone" name="vphone" placeholder="5551234567" type="text"required />
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <button class="btn btn-primary " id="user-btn" name="user-btn" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var lat = 0.0;
        var lng = 0.0;
        var place;
        $(document).ready(function () {
            function initAutocomplete() {
                // admin address
                var autocomplete1 = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */
                    (document.getElementById('astreetAddr')), {
                        types: ['geocode']
                    });

                // volunteer address
                var autocomplete2 = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */
                    (document.getElementById('vstreetAddr')), {
                        types: ['geocode']
                    });

                autocomplete1.addListener('place_changed', function () {
                    place = autocomplete1.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }
                    address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name ||
                                ''),
                            (place.address_components[1] && place.address_components[1].short_name ||
                                ''),
                            (place.address_components[2] && place.address_components[2].short_name ||
                                '')
                        ].join(' ');
                    }
                    console.log("place is :");
                    console.log(place);
                    // put the latitude and longitude onto the form in the hidden inputs
                    $('#alat').val(place.geometry.location.lat());
                    $('#alng').val(place.geometry.location.lng());
                });
                autocomplete2.addListener('place_changed', function () {
                    place = autocomplete2.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }
                    address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name ||
                                ''),
                            (place.address_components[1] && place.address_components[1].short_name ||
                                ''),
                            (place.address_components[2] && place.address_components[2].short_name ||
                                '')
                        ].join(' ');
                    }
                    console.log("place is :");
                    console.log(place);
                    // put the latitude and longitude onto the form in the hidden inputs
                    $('#vlat').val(place.geometry.location.lat());
                    $('#vlng').val(place.geometry.location.lng());
                });
            }
            initAutocomplete();
        });
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb83AdUnIv7TTeO4X2cvtmP8zkOuELvxM&libraries=places"></script>
</body>
</html>